<% content_for :body_content_left do %>
  <%=raw @page[Page.default_parts.first.to_sym] if Page.default_parts.any? %>

  <% if @whatson_posts.any? %>
    <section id="whatson_posts">
      <%= render :partial => "/whatson/shared/post", :collection => @whatson_posts %>
      <%= will_paginate @whatson_posts %>
    </section>
  <% else %>
    <p><%= t('.no_whatson_articles_yet') %></p>
  <% end %>
<% end %>

<% content_for :body_content_right do %>
  <%=raw @page[Page.default_parts.second.to_sym] if Page.default_parts.many? %>

  <%= render :partial => "/whatson/shared/categories" %>
  <%= render :partial => "/whatson/shared/tags" %>
  <%= render :partial => "/whatson/shared/rss_feed" %>
  <%= render :partial => "/whatson/shared/archive_list" %>
<% end %>

<%= render :partial => "/shared/content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinerycms-whatson') %>
